<nav class="navbar navbar-expand-lg border-bottom border-5 border-dark fixed-top text-white bg-primary py-1 px-1 py-md-1 px-md-1">
    <a class="navbar-brand mx-3 text-white py-1" routerLink="home">Doações</a>
    <button class="navbar-toggler mx-3 py-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link text-white">Index <span class="sr-only">(Dashboard)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about/13" class="nav-link text-white">About</a>
        </li>
        <li class="nav-item">
            <a routerLink="/produtos" class="nav-link text-white">Produtos</a>
          </li>
      </ul>
    </div>
  </nav>