<div class="container">
    <div >
        <ol class="carousel-indicators">
            <li data-target="#carouselMain" class="active" data-slide-to="0"></li>
            <li data-target="#carouselMain" class="active" data-slide-to="1"></li>
            <li data-target="#carouselMain" class="active" data-slide-to="2"></li>
            <li data-target="#carouselMain" class="active" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active text-center" data-interval="3000">
                <img src="/frontend/src/assets/banner01.jpg" alt="" class="img-fluid d-none d-md-block">
                <img src="/frontend/src/assets/banner01sm.jpg" alt="" class="img-fluid d-block d-md-none">
            </div>
            <div class="carousel-item text-center" data-interval="3000">
                <img src="/frontend/src/assets/banner02.jpg" alt="" class="img-fluid d-none d-md-block">
                <img src="/frontend/src/assets/banner02sm.jpg" alt="" class="img-fluid d-block d-md-none">
            </div>
            <div class="carousel-item text-center" data-interval="3000">
                <img src="/frontend/src/assets/banner03.jpg" alt="" class="img-fluid d-none d-md-block">
                <img src="/frontend/src/assets/banner03sm.jpg" alt="" class="img-fluid d-block d-md-none">
            </div>
            <div class="carousel-item text-center" data-interval="3000">
                <img src="/frontend/src/assets/banner04.jpg" alt="" class="img-fluid d-none d-md-block">
                <img src="/frontend/src/assets/banner04sm.jpg" alt="" class="img-fluid d-block d-md-none">
            </div>
        </div>
    </div>
</div>
