<div class="container wrapper m-5 justify-content-center align-items-baseline row" >
    <form class="form form-control w-50 justify-content-center align-items-center">
    <h3 class="text-center">Acesso ao Sistema</h3>
    <label>Login</label>
    <input type="text" class="form form-control m-1" value="Mickey" name="login">
    <label>Password</label>
    <input type="password" class="form form-control m-1" value="Mouse" name="senha">
    <input type="button" value="Enviar" class="btn btn-success my-2" (click)="LogOn()"/>
    </form>
</div>