<form>
    <img src="assets/cesta-de-produtos.png">

    <input type="text" class="form-control" placeholder="Nome do Produto">
    <input type="text" class="form-control" placeholder="Sigla de Medida">
    <input type="text" class="form-control" placeholder="Forma de Entrega">
    <input type="text" class="form-control" placeholder="Tipo de Produto">

    <input type="button" class="btn btn-success" value="Cadastrar">
    <input type="button" class="btn btn-warning" value="Alterar">
    <input type="button" class="btn btn-danger" value="Remover">
    <input type="button" class="btn btn-secondary" value="Cancelar">
</form>