<footer  class="border-top border-5 border-dark fixed-bottom text-white bg-primary justify-content-center align-items-center">
    <div class="container ">
        <div class="row py-2 px-2 py-md-2 px-md-1">
            <div class="col-12 col-md-4 text-center text-md-start">
                &copy; 2023 - Sistema de Doações
            </div>
            <div class="col-12 col-md-4 text-center text-md-center">
                <a routerLink="/privacidade" class="text-decoration-none text-white">Política de Privacidade</a>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end">
                Powered By: <a href="github.com/nailtonssantos" class="text-decoration-none text-white">Nailton Silva</a>
            </div>
        </div>
    </div>
</footer>
